@use "./colors.scss" as *;

@mixin button($padding: 10px 20px) {
  color: #fff;
  background-color: $red;
  padding: $padding;

  border-radius: 2.5px;

  font-weight: 400;
  text-transform: capitalize;

  cursor: pointer;
}

@mixin input() {
}

@mixin label() {
}
