@use "./colors.scss" as *;

@mixin button($padding: 15px 20px) {
  color: #fff;
  background-color: $red;
  padding: $padding;

  border-radius: 2.5px;

  font-weight: 600;
  text-transform: capitalize;

  cursor: pointer;
}

@mixin input($padding: 15px 10px) {
  padding: $padding;
}

@mixin label() {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.9rem;
}

@mixin alert-card($color: $orange, $border-radius: 5px, $font-size: 1rem) {
  background-color: $color;
  padding: 15px 20px;

  border-radius: $border-radius;

  font-size: $font-size;

  line-height: 1rem;
}
