@use "normalize.scss" as *;

:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, Ubuntu, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;

  cursor: pointer;
}

button,
input {
  background-color: inherit;
  font-family: inherit;
  border: none;
  color: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

input {
  cursor: text;
}

ul,
li,
ol {
  list-style: none;
  display: flex;
}

img {
  max-height: 100%;
  max-width: 100%;
}
